    <html>
    <head>
        {% include 'base.html.twig' %}
    </head>
    <body class="with-side-menu control-panel control-panel-compact">
        {% include 'menu.html.twig' %}

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <h2>Envoyer un message à un groupe</h2>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Create" />
                            {{ form_end(form) }}

                        </div><!--.row-->
                    </div><!--.col-->
                </div><!--.row-->

            </div><!--.container-fluid-->
        </div>
        {% include 'footer.html.twig' %}
    </body>
</html>