    <html>
    <head>
        {% include 'base.html.twig' %}
    </head>
    <body class="with-side-menu control-panel control-panel-compact">
        {% include 'menu.html.twig' %}

        <div class="page-content">
            <div class="container-fluid">
                <section class="box-typical box-typical-padding" style="margin-top: 20%">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="margin-top: 3%">
                            <div class="alert alert-success alert-fill alert-close alert-dismissible fade in" style="text-align: center;" role="alert">
                                MESSAGE ENVOYÉ
                            </div>
                        </div>
                    </div><!--.row-->
                    <br>
                    <br>
                </section>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </body>
</html>